:root {
    --couleur-arriere-entete: #3ca5ff;
    --couleur-arriere-accueil: #add70c;
    --couleur-arriere-evenement: #32994f;
    --couleur-arriere-galerie: rgb(230 139 42);
    --couleur-arriere-footer: #6d5b48;

    // Niveau de transparence des h 
    --transparence-h1 : .4;
    // Transparence section
    --transparence-section : .1;
}